<%= form_for @service do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:
      </h2>

      <ul>
        <% @service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Sobre o serviço</h2>
  <fieldset class="form-fieldset">
    <div class="form-group input-user">
      <%= f.label :name, "Nome do serviço oferecido", :class=>"label-required" %>
      <%= f.text_field :name, label: 'Nome', required: true, placeholder:"", class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description, "Descrição", :class=>"label-required" %>
      <%= f.text_area :description, label: 'Descrição', required: true, placeholder:"", class:"", rows:"5" %>
    </div>
    <div class="form-group">
      <%= f.label :phone, "Telefone", :class=>"label-required" %>
      <%= f.telephone_field :phone, label: 'Telefone', required: true, placeholder:"", class:"form-control" %>
    </div>
  </fieldset>

  <h2>Endereço</h2>
  <fieldset class="form-fieldset">
    <%= f.fields_for :address do |a| %>
      <div class="form-group">
          <%= f.label :street, "Logradouro" %>
          <%= a.text_field :street, label: '', placeholder:"", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :number, "Número" %>
          <%= a.text_field :number, label: '', placeholder:"", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :complement, "Complemento" %>
          <%= a.text_field :complement, label: '', placeholder:"", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :neighborhood, "Bairro" %>
          <%= a.text_field :neighborhood, label: '', placeholder:"", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :city, "Cidade" %>
          <%= a.text_field :city, label: '', placeholder:"", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :state, "Estado" %>
          <%= a.text_field :state, label: '', placeholder:"", class:"form-control" %>
      </div>
    <% end %>
  </fieldset>

  <h2>Área</h2>
  <fieldset class="form-fieldset">
    <% selected_area = @service.subarea.area ? @service.subarea.area.id : nil %>
    <% selected_subareas = @service.subarea.area ? @service.subarea.area.subareas : [] %>
    <div class="form-group">
      <!-- Esse foi o jeito que eu achei que deveria funcionar -->
      <%= f.label :area_id, "Área", :class=>"label-required" %>
      <%= select_tag  :area_id, options_from_collection_for_select(Area.all, "id", "area", selected_area),
        :prompt => "Selecione uma área" %>
    </div>
    <div class="form-group">
      <%= f.label :subarea_id, "Subárea", :class=>"label-required" %>
      <%= f.select :subarea_id,
        options_from_collection_for_select(selected_subareas, "id", "subarea", @service.subarea_id),
        { prompt: 'Selecione uma subárea'},
        { "data-option-dependent" => true,
          "data-option-observed" => "area_id",
          "data-option-url" => "/area/:area_id:/subareas.json",
          "data-option-key-method" => :id,
          "data-option-value-method" => :subarea } %>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit save_service_text(@service), class: 'btn btn-block btn-form' %>
  </div>
<% end %>
