<%= form_for @service do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:
      </h2>

      <ul>
        <% @service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Sobre o serviço</h2>
  <div class="form-group">
    <%= f.text_field :name, label: 'Nome', required: true, placeholder:"Nome", class:"form-control" %>
    <%= f.text_area :description, label: 'Descrição', required: true, placeholder:"Descrição", class:"form-control", rows:"5" %>
    <%= f.telephone_field :phone, label: 'Telefone', required: true, placeholder:"Telefone", class:"form-control" %>
  </div>

  <h2>Endereço</h2>
  <div class="form-group">
    <%= f.fields_for :address do |a| %>
      <%= a.text_field :street, label: 'Logradouro', required: true, placeholder:"Logradouro", class:"form-control" %>
      <%= a.text_field :number, label: 'Número', required: true, placeholder:"Número", class:"form-control" %>
      <%= a.text_field :complement, label: 'Complemento', placeholder:"Complemento", class:"form-control" %>
      <%= a.text_field :neighborhood, label: 'Bairro', required: true, placeholder:"Bairro", class:"form-control" %>
      <%= a.text_field :city, label: 'Cidade', required: true, placeholder:"Cidade", class:"form-control" %>
      <%= a.text_field :state, label: 'Estado', required: true, placeholder:"Estado", class:"form-control" %>
    <% end %>
  </div>

  <h2>Área</h2>
  <div class="form-group">
    <!-- Esse foi o jeito que eu achei que deveria funcionar -->
    <%= select_tag  :area_id, options_from_collection_for_select(Area.all, "id", "area"),
      :prompt => "Selecione uma área",
      :class => "form-control" %>
    <%= f.select :subarea_id, options_from_collection_for_select([], "id", "subarea"), { prompt: 'Selecione uma subarea'},
      {"data-option-dependent" => true,
        "data-option-observed" => "area_id",
        "data-option-url" => "/area/:area_id:/subareas.json",
        "data-option-key-method" => :id,
        "data-option-value-method" => :subarea,
        :class => "form-control" } %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar serviço", class: 'btn btn-block btn-form' %>
  </div>
<% end %>
