<section class="content">
  <div class="container">
    <h1 class="clearfix">
      <% if user_signed_in? %>
        <span class="font0-8x pull-right">
          <% if !@services.empty? %>
            <%= link_to new_service_path, class:"btn btn-sm btn-contorno" do %>
              Cadastrar<span class="hidden-xs"> serviço</span>
            <% end %>
          <% end %>
        </span>
      <% end %>
      Busca de Serviços
    </h1>

    <div>
      <p class="text-white">Campos de busca</p>
    </div>
    <%= form_tag(services_path, :method => "get", id: "search-form") do %>
      <div class="panel panel-search">
        <div class="row">
          <div class="col-md-12 form-group">
            <%= label_tag :search, "Nome ou Descrição", class: 'control-label' %>
            <%= text_field_tag :search, params[:search], placeholder: "Nome ou Descrição", id: 'search-description', class: 'form-control' %>
          </div>
          <div class="col-md-6 form-group">
            <%= label_tag :state, "Estado", class: 'control-label' %>
            <%= collection_select :state, :state_id, states_selector, :id, :name, { include_blank: 'Selecione um estado', selected: read_selected_state_from_url }, {id: 'state-selector', class: 'form-control' } %>
          </div>
          <div class="col-md-6 form-group">
            <%= label_tag :city, "Cidade", class: 'control-label' %>
            <%= collection_select :city, :city_id, [], :id, :name, {prompt: 'Selecione uma cidade'}, {id: 'city-selector', disabled: true , 'data-selected-city' => read_selected_city_from_url, class: 'form-control' }%>
          </div>
        </div>
        <div class="row search-actions">
          <div class="col-md-offset-4 col-md-8">
            <%= button_tag "Limpar Campos", type: :reset, id: "reset_button", class: 'btn font1-2x btn-search' %>
            <%= submit_tag "Buscar", class: 'btn font1-2x btn-search' %>
          </div>
        </div>
      </div>
    <% end %>

    <% if @services.empty? %>
      <div class="sem-servicos text-center">
        <p>Não há serviços cadastrados.</p>
        <%= link_to 'Cadastre o primeiro!', new_service_path, class:"btn btn-contorno" %>
      </div>
    <% else %>
      <% @services.each do |service| %>
        <div class="panel panel-default panel-lista">
          <div class="row row-eq-height">
            <div class="col-sm-4 bg-light-blue nome text-dark-blue">
              <h2><%= service.name %></h2>
              <div class="area">
                <i class="fa fa-heart pull-left"></i>
                <div>
                  <% if service.subarea %>
                    <%= service.subarea.area.area %><br/>
                    <%= service.subarea.subarea %>
                  <% end %>
                </div>
              </div>
              <div style="visibility: hidden">
                <%= link_to like_service_path(service.id), method: :put do %>
                    Gostei
                    <%= service.get_upvotes.size %>
                <% end %>
                <%= link_to dislike_service_path(service.id), method: :put do %>
                    Não Gostei
                    <%= service.get_downvotes.size %>
                <% end %>
              </div>
            </div>
            <div class="col-sm-8">
              <%= link_to service do %>
                <i class="fa fa-arrow-right btn-go pull-right"></i>
              <% end %>
              <div class="panel-body info">
                <div class="desc font1-2x">
                  <%= service.description %>
                </div>
                  <% unless service.website.blank? %>
                    <div class="attr">
                      <i class="fa fa-lg fa-external-link text-dark-blue pull-left"></i>
                      <div><%= link_to service.website, service.website, target: :_blank %></div>
                    </div>
                  <% end %>
                <% if !service.phone.blank? %>
                  <div class="attr">
                    <i class="fa fa-lg fa-phone text-dark-blue pull-left"></i>
                    <div><%= service.phone %></div>
                  </div>
                <% end %>
                <div class="attr">
                  <i class="fa fa-lg fa-user text-dark-blue pull-left"></i>
                  <% if service.owner_name.blank? %>
                    <div><%= service.owner %></div>
                  <% else %>
                    <div><%= service.owner_name %></div>
                    <div class="referer">
                      <span>Cadastrado por</span> <%= service.owner %>
                    </div>
                  <% end %>
                </div>
                <div class="attr">
                  <i class="fa fa-lg fa-map-marker text-dark-blue pull-left"></i>
                  <div><%= service.address.city.name %> &ndash; <%= service.address.state.name %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
