<section class="content" id="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="user-info">
          <h1>Olá, <%= current_user.social_name %></h1>
          <%= link_to 'Cadastrar novo serviço', new_service_path, class:"btn btn-default" %>
          <%= link_to 'Sair', destroy_user_session_path, :method => :delete, class: "btn-contorno" %>
        </div>
      </div>
      <div class="col-md-8">
        <!--
        <div class="sem-servicos text-center">
          <p>Você ainda não cadastrou nenhum serviço.</p>
          <%= link_to 'Cadastre o primeiro!', new_service_path, class:"btn btn-contorno" %>
        </div>
        -->
        <div>
          <h1>Meus serviços</h1>
          <% @services.each do |service| %>
            <%= render '/partials/service', service: service %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
