<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h1>Editar meus dados</h1>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.text_field :social_name, placeholder: 'Nome social', autofocus: true, label: false, class: 'form-control input-user' %>
            <%= f.text_field :civil_name, placeholder: 'Nome civil', label: false, class: 'form-control input-user' %>
            <%= f.text_field :birth_date, placeholder: '__/__/____', label: false, class: 'form-control'  %>
            <%= f.text_field :username, placeholder: 'Nome de usuário', label: false, class: 'form-control'  %>
            <%= f.password_field :password, placeholder: 'Senha', autocomplete: "off", label: false, class: 'form-control input-password' %>
            <%= f.password_field :password_confirmation, placeholder: 'Confirmação de senha', autocomplete: "off", label: false, class: 'form-control input-password' %>
            <%= f.telephone_field :phone_number, placeholder: 'Número de telefone', label: false, class: 'form-control' %>
            <%= f.email_field :email, placeholder: 'Endereço de e-mail', label: false, class: 'form-control' %>
          </div>

          <p class="not-user-text">Qual é seu nome preferencial?</p>
          <p class="text-center text-white">Esse é o nome que ficará visível junto aos seus serviços.</p>
          <div class="form-group">
            <div class="radio form-control">
              <label>
              <input type="radio" name="nomePreferencial" id="nomePreferencial1" value="option1" checked>
              Nome social
              </label>
            </div>
            <div class="radio form-control">
              <label>
              <input type="radio" name="nomePreferencial" id="nomePreferencial2" value="option2">
              Nome civil
              </label>
            </div>
          </div>

          <p class="not-user-text">Forneça sua senha atual para confirmar as alterações:</p>
          <div class="form-group">
            <%= f.password_field :current_password, placeholder:"Senha atual", autocomplete: "off", class:"form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Atualizar meus dados", class:"btn btn-form btn-block" %>
          </div>
        <% end %>

        <p class="not-user-text">Caso deseje exlcuir sua conta, clique no botão abaixo.</p>
        <%= button_to "Excluir minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-form btn-block" %>
      </div>
    </div>
  </div>
</section>
