<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field-group">

    <div class="field">
      <%= f.input :social_name, placeholder: 'Nome social', autofocus: true, label: false %>
    </div>

    <div class="field">
      <%= f.input :civil_name, placeholder: 'Nome civil', label: false %>
    </div>

    <div class="field">
        <%= f.input :birth_date, as: :date, label: false %>
    </div>

    <div class="field">
      <%= f.input :username, placeholder: 'Nome de usuário', label: false %>
    </div>

    <!-- <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br /> -->

    <div class="field">
      <%= f.input :password, placeholder: 'Senha', autocomplete: "off", label: false %>
    </div>

    <div class="field">
      <%= f.input :password_confirmation, placeholder: 'Confirmação de senha', autocomplete: "off", label: false %>
    </div>

    <div class="field">
      <%= f.input :phone_number, placeholder: 'Número de telefone', label: false %>
    </div>

    <div class="field">
      <%= f.input :email, placeholder: 'Endereço de e-mail', label: false %>
    </div>

    <%= f.input :terms_of_service, as: :boolean, checked_value: true, unchecked_value: false, label: 'Aceito os termos de uso', class: 'input-use-term' %>

    <%= f.submit "Cadastrar", class: 'btn' %>

  </div>
<% end %>

<p class="not-user-text">Já tem cadastro?</p>

<%= link_to "Acessar", new_session_path(resource_name), class: 'btn' %><br />

<!-- <%= render "devise/shared/links" %> -->
