<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h1>Criar conta</h1>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <fieldset class="form-fieldset">
            <div class="form-group input-user">
              <%= f.label :social_name, "Nome", class: "label-required" %>
              <%= f.text_field :social_name, placeholder:'Você pode usar seu nome social', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :birth_date, "Data de nascimento", class: "label-required" %>
              <%= f.text_field :birth_date, placeholder:'É necessário ter mais de 18 anos', class: 'form-control'  %>
            </div>
            <div class="form-group input-password">
              <%= f.label :password, "Senha", class: "label-required" %>
              <%= f.password_field :password, placeholder:'Mínimo de 8 caracteres', autocomplete: "off", class: 'form-control' %>
            </div>
            <div class="form-group input-password">
              <%= f.label :password_confirmation, "Senha (confirmação)", :class=>"label-required" %>
              <%= f.password_field :password_confirmation, placeholder:'Confirme sua senha', autocomplete: "off", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :email, "Endereço de e-mail", class: "label-required" %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
          </fieldset>

          <div>
            <p class="text-white">Termos de uso</p>
          </div>
          <fieldset class="form-fieldset">
            <div class="form-group terms-of-service">
              <textarea disabled="disabled" id="user_policy" name="description" class="form-control" rows="3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a sollicitudin magna, at efficitur odio. In hac habitasse platea dictumst. In et dictum justo. Curabitur varius turpis in suscipit pretium. Nullam viverra neque quis diam bibendum suscipit. Ut sed tortor eu nunc pharetra volutpat id nec nibh. Etiam sed tincidunt urna. Quisque in mauris aliquam ipsum porta varius. Donec luctus quam sed leo blandit placerat. Proin eleifend purus vel accumsan mattis. Nullam lobortis venenatis massa, ac euismod ante dapibus ac. Sed quis mi rutrum, pretium nisi vitae, laoreet neque. Quisque aliquam bibendum justo vel interdum. Aenean condimentum tellus eu mi auctor, ut feugiat ex rutrum.
    Aenean scelerisque neque odio, condimentum accumsan eros ornare a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae cursus nisl. Fusce elementum lobortis justo. Etiam in quam dictum, ullamcorper eros porttitor, venenatis enim. Curabitur vitae mi in orci efficitur placerat. Morbi pretium sollicitudin pharetra. Etiam molestie, sapien vitae aliquam auctor, lectus augue consequat ante, vitae tempor nisl libero sit amet libero. Aliquam ultrices, sapien eu feugiat mollis, lacus ex maximus lacus, ut faucibus purus tellus finibus est. Fusce eros tellus, congue ac blandit sit amet, tincidunt sed nibh. Morbi luctus, tellus at sagittis tincidunt, justo turpis venenatis ante, ut euismod magna diam ac velit. In condimentum elementum sem a ullamcorper. In congue, leo id tristique feugiat, leo velit molestie est, quis venenatis quam erat eget felis. Vestibulum dictum maximus mattis. Nulla enim massa, mollis non mi vel, maximus posuere arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Donec maximus, mi id tristique venenatis, elit tortor convallis diam, nec semper dui nibh at purus. Quisque iaculis, mi et pharetra blandit, risus justo pulvinar mauris, vitae auctor leo lectus quis justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed tincidunt ante sit amet enim aliquet, ac egestas ligula sodales. Proin venenatis accumsan nibh pretium placerat. Donec accumsan mattis pulvinar. Vivamus non erat non dolor condimentum aliquet nec a turpis. Proin pharetra mattis rutrum. Nulla in sem nec mi placerat efficitur. Maecenas sed consequat tellus. Nullam purus mi, vestibulum in orci eget, iaculis tempor leo.
    Mauris non est dui. Vivamus condimentum semper ligula et finibus. Ut porttitor in ipsum vel aliquet. Nulla porta nulla aliquam erat auctor, quis fermentum orci aliquet. Donec sodales, enim eu blandit faucibus, arcu est mattis mi, in vestibulum dolor lorem ac elit. Ut gravida tortor eget bibendum luctus. Phasellus egestas metus ut mauris blandit, non porta nisi bibendum. Nullam vestibulum nibh eu suscipit eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam orci odio, sodales eget ipsum sit amet, placerat sagittis purus. Nullam aliquam volutpat ex id vestibulum. Duis dui dolor, commodo quis congue in, imperdiet non metus.
              </textarea>
            </div>
          </fieldset>

          <div class="text-center">
            <div class="checkbox font1-2x">
              <label class="label-required">
                <%= f.check_box :terms_of_service, as: :boolean, label: 'Aceito os termos de uso', class: 'checkbox' %> <span class="text-fuchsia">*</span>&nbsp;Aceito os termos de uso
              </label>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Cadastrar", class: 'btn btn-block btn-form' %>
          </div>
        <% end %>

        <p class="not-user-text">Já tem cadastro?</p>

        <%= link_to "Acessar", new_session_path(resource_name), class: 'btn btn-block btn-form' %>
        <!-- <%= render "devise/shared/links" %> -->
      </div>
    </div>
  </div>
</section>
