<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h1>Criar conta</h1>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.text_field :social_name, placeholder: 'Nome social', autofocus: true, label: false, class: 'form-control input-user' %>
            <%= f.text_field :civil_name, placeholder: 'Nome civil', label: false, class: 'form-control input-user' %>
            <%= f.text_field :birth_date, placeholder: '__/__/____', label: false, class: 'form-control'  %>
            <%= f.text_field :username, placeholder: 'Nome de usuário', label: false, class: 'form-control'  %>
            <!-- <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br /> -->
            <%= f.password_field :password, placeholder: 'Senha', autocomplete: "off", label: false, class: 'form-control input-password' %>
            <%= f.password_field :password_confirmation, placeholder: 'Confirmação de senha', autocomplete: "off", label: false, class: 'form-control input-password' %>
            <%= f.telephone_field :phone_number, placeholder: 'Número de telefone', label: false, class: 'form-control' %>
            <%= f.email_field :email, placeholder: 'Endereço de e-mail', label: false, class: 'form-control' %>
          </div>

          <p class="not-user-text">Qual é seu nome preferencial?</p>
          <p class="text-center text-white">Esse é o nome que ficará visível junto aos seus serviços.</p>
          <div class="form-group">
            <div class="radio form-control">
              <label>
              <input type="radio" name="user[name_preference]" id="user_name_preference_social" value="S" checked>
              Nome social
              </label>
            </div>
            <div class="radio form-control">
              <label>
              <input type="radio" name="user[name_preference]" id="user_name_preference_civil" value="C">
              Nome civil
              </label>
            </div>
          </div>

          <div class="text-center">
            <div class="checkbox font1-2x">
              <label>
                <%= f.check_box :terms_of_service, as: :boolean, label: 'Aceito os termos de uso', class: 'checkbox' %> Aceito os termos de uso
              </label>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Cadastrar", class: 'btn btn-block btn-form' %>
          </div>
        <% end %>

        <p class="not-user-text">Já tem cadastro?</p>

        <%= link_to "Acessar", new_session_path(resource_name), class: 'btn btn-block btn-form' %>
        <!-- <%= render "devise/shared/links" %> -->
      </div>
    </div>
  </div>
</section>
