<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h1>Criar conta</h1>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <fieldset class="form-fieldset">
            <div class="form-group input-user">
              <%= f.label :social_name, "Nome", class: "label-required" %>
              <%= f.text_field :social_name, placeholder:'Você pode usar seu nome social', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :birth_date, "Data de nascimento", class: "label-required" %>
              <%= f.text_field :birth_date, placeholder:'É necessário ter mais de 18 anos', class: 'form-control'  %>
            </div>
            <div class="form-group input-password">
              <%= f.label :password, "Senha", class: "label-required" %>
              <%= f.password_field :password, placeholder:'Mínimo de 8 caracteres', autocomplete: "off", class: 'form-control' %>
            </div>
            <div class="form-group input-password">
              <%= f.label :password_confirmation, "Senha (confirmação)", :class=>"label-required" %>
              <%= f.password_field :password_confirmation, placeholder:'Confirme sua senha', autocomplete: "off", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :email, "Endereço de e-mail", class: "label-required" %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
          </fieldset>

          <div class="text-center">
            <div class="checkbox font1-2x">
              <label class="label-required">
                <%= f.check_box :terms_of_service, as: :boolean, label: 'Aceito os termos de uso', class: 'checkbox' %> <span class="text-fuchsia">*</span>&nbsp;Aceito os termos de uso
              </label>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Cadastrar", class: 'btn btn-block btn-form' %>
          </div>
        <% end %>

        <p class="not-user-text">Já tem cadastro?</p>

        <%= link_to "Acessar", new_session_path(resource_name), class: 'btn btn-block btn-form' %>
        <!-- <%= render "devise/shared/links" %> -->
      </div>
    </div>
  </div>
</section>
