<div class="panel panel-default panel-servico">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= service.name %>
    </h4>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="panel-body description">
        <i class="fa fa-lg fa-info pull-left icon visible-xs"></i>
        <div class="text">
          <%= service.description %>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <table class="table">
        <tbody>
          <tr>
            <td class="icon text-center"><i class="fa fa-lg fa-phone"></i></td>
            <td><%= service.phone %></td>
          </tr>
          <tr>
            <td class="icon text-center"><i class="fa fa-lg fa-user"></i></td>
            <td>Nome do socio</td>
          </tr>
          <% if service.address %>
            <tr>
              <td rowspan="4" class="icon text-center"><i class="fa fa-lg fa-map-marker"></i></td>
              <td><%= "#{service.address.street}, #{service.address.number} " %></td>
            </tr>
            <tr>
              <td><%= "#{service.address.complement}" %></td>
            </tr>
            <tr>
              <td><%= "#{service.address.neighborhood}" %></td>
            </tr>
            <tr>
              <td><%= "#{service.address.city}, #{service.address.state}" %></td>
            </tr>
          <% end %>
          <% if service.subarea %>
            <tr>
              <td rowspan="2" class="icon text-center"><i class="fa fa-lg fa-heart"></i></td>
              <td> <%= "#{service.subarea.area.area if service.subarea.area}" %></td>
            </tr>
            <tr>
              <td> <%= "#{service.subarea.subarea}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel-footer text-right">
    <div class="btn-group btn-group-sm">
      <% link_content = "<i class='fa fa-lg fa-pencil'></i>&nbsp;Editar" %>
      <%= link_to link_content.html_safe, edit_service_path(service), class: 'btn btn-default'%>
      <% link_content = "<i class='fa fa-lg fa-times'></i>&nbsp;Excluir" %>
      <%= link_to link_content.html_safe, service_path(service), method: :delete, class: 'btn btn-danger'%>
    </div>
  </div>
</div>
