<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h1>Inside a report pra o servico</h1>
        <%= form_for :report, url: report_path  do |f| %>
          <%= f.hidden_field :service_id, :value => params[:service_id] %>
          email <%= f.text_field :email%>
        detail <%= f.text_field :detail%>
      <%= f.submit %>
    <% end %>
      </div>
    </div>
  </div>
</section>
