<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Transervicos</title>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
        <%= favicon_link_tag(source='favicon.ico') %>
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>

        <!--font-awesome-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
      <!-- Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-72975624-1', 'auto');
        ga('send', 'pageview');
      </script>
        <nav class="navbar navbar-default navbar-static-top" id="main-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <% if !current_page?('/') %>
                      <%= link_to image_tag('transervicos-logo.svg'), root_path, class:"navbar-brand" %>
                    <% end %>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <%= link_to "Serviços", services_path %>
                    </li>
                    <% if user_signed_in? %>
                      <li>
                        <%= link_to "Meu perfil", dashboard_path%>
                      </li>
                    <% else %>
                      <li>
                        <%= link_to 'Entrar', new_user_session_path, class: "btn-contorno" %>
                      </li>
                    <% end %>
                  </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div></div>

        <%= yield %>

        <section id="about">

        </section>

        <footer id="main-footer" class="footer">
          <div class="about">
            <div class="container">
          		<div class="row">
          			<div class="col-md-8 col-sm-6">
          				<a href="javascript:;">
          					<%= image_tag 'transervicos-logo.svg', { :style=>"height: 36px" } %>
          				</a>
          			</div>
          			<div class="col-md-4 col-sm-6">
          				<h2>
          					Compartilhe
          				</h2>
          				<i class="fa fa-lg fa-facebook-official"></i>&nbsp;
          				<i class="fa fa-lg fa-twitter"></i>
          			</div>
          		</div>
          	</div>
          </div>
          <div class="copyright text-center">
          	<strong>Transerviços</strong> | Copyright © 2016<br/>
          	Feito com carinho <i class="fa fa-heart"></i>
          </div>
        </footer>

    </body>
</html>
