<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Transervicos</title>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Bitter:400italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>

        <!--font-awesome-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top pull-right" id="main-navbar" style="width:100%;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <% if !current_page?('/') %>
                        <a class="navbar-brand" href="#">
                            <%= image_tag 'transervicos-logo.svg' %>
                        </a>
                    <% end %>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
            				<a class="page-scroll" href="#trans-hoje">Trans hoje</a>
            			</li>
            			<li>
            				<a class="page-scroll" href="#desconstruindo-mitos">Descontruindo mitos</a>
            			</li>
            			<li>
            				<a class="page-scroll" href="#o-projeto">O projeto</a>
            			</li>
            			<li>
                    <% if user_signed_in? %>
                      <%= link_to 'Sair', destroy_user_session_path, :method => :delete, class: "btn-contorno" %>
                    <% else %>
                      <%= link_to 'Entrar', new_user_session_path, class: "btn-contorno" %>
                    <% end %>
            			</li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <%= yield %>

        <section id="about">
        	<div class="container">
        		<div class="row">
        			<div class="col-md-6 col-sm-4">
        				<a href="javascript:;">
        					<%= image_tag 'transervicos-logo.svg', { :style=>"height: 36px" } %>
        				</a>
        			</div>
        			<div class="col-md-3 col-sm-4">
        				<h2>
        					Mapa do site
        				</h2>
        				<ul>
        					<li>
        						<a href="javascript:;">Trans hoje</a>
        					</li>
        					<li>
        						<a href="javascript:;">Desconstruindo mitos</a>
        					</li>
        					<li>
        						<a href="javascript:;">O projeto</a>
        					</li>
        					<li>
        						<%= link_to 'Cadastro', new_user_registration_path %>
        					</li>
        				</ul>
        			</div>
        			<div class="col-md-3 col-sm-4">
        				<h2>
        					Compartilhe
        				</h2>
        				<i class="fa fa-lg fa-facebook-official"></i>&nbsp;
        				<i class="fa fa-lg fa-twitter"></i>
        			</div>
        		</div>
        	</div>
        </section>

        <footer id="main-footer" class="text-center">
        	<strong>Transerviços</strong> | Copyright © 2016<br/>
        	Feito com carinho <i class="fa fa-heart"></i>
        </footer>

    </body>
</html>
